body {
	background-color: #121212;
	color: #e0e0e0;
	font-family: sans-serif;
	margin:1em auto;
	max-width:40em;
	padding:0.62em;
	font:1.2em/1.62 sans-serif
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 2em;
}

th, td {
	border: 1px solid #444;
	text-align: center;
	padding: 0.5em;
}

a {
	color: #bbb;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

footer {
	border-top: 1px solid #444;
	margin-top: 2em;
	padding-top: 0.5em;
	font-size: 0.9em;
	color: #888;
	text-align: right;
}

